[user]
	name = Yuya Unno
	email = unnonouno@gmail.com
[color]
	ui = auto
[core]
	pager = lv -c
	editor = vim -c \"set fenc=utf-8\"
[github]
        user = unnonouno

[fetch]
	prune = true
[alias]
	co = checkout
	br = branch
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
